/* start tutorial */
.box {
  width: 17vw;
  height: 17vw;
  background: linear-gradient(lightblue, lightgreen, rgb(242, 157, 242), pink);
}

/* end tutorial */




*, *::before, *::after {
  box-sizing: border-box;
}

.Header {
  & a {
    display: block;
    text-align: right;
  }
}

nav.MainNavigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;

  & li a {
    color: yellow;
  }
}


body {
  max-width: 1200px;
  margin: 0 auto; /* This centers the container on the screen */
  padding: 0 20px; /* Adds a little "breathing room" on small mobile screens */
  background-color: rgb(72, 139, 211);
  color: #f1f1f1;
}

.logo {
  width: 120px;
}

.gallery {
  display: grid;
  gap: 4px;
}

.item img {
  width: 100%;

}

