*, *::before, *::after {
  box-sizing: border-box;
}


body {
  max-width: 1200px;
  margin: 0 auto; /* This centers the container on the screen */
  padding: 0 20px; /* Adds a little "breathing room" on small mobile screens */
}

.logo {
  width: 120px;
}

.gallery {
  display: grid;
  gap: 4px;
}

.item img {
  width: 100%;

}