node_modules
chapter8/01_tailwind/dist/*
!chapter8/01_tailwind/dist/.gitkeep
chapter8/AwesomeAnalytics/TailwindBased/assets/css/tailwind_output.css


# macOS executables
main
game
*.out

# build folders
build/
bin/

# object files
*.o
*.obj

# macOS system files
.DS_Store